name: MLOps CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  # JOB 1: CI 
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest
    - name: Run Tests
      run: pytest test_pipeline.py

  # JOB 2: CD 
  deploy:
    needs: build-and-test  
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # 1. vào thư mục code
            cd cali-housing-mlops
            
            # 2. code mới nhất về
            git pull origin main
            
            # 3. Kích hoạt môi trường & Cài lại thư viện
            source venv/bin/activate
            pip install -r requirements.txt
            
            # 4. Retrain model trên Server
            python train.py
            
            # 5. Restart lại App
            # Tìm xem có app nào đang chạy không, nếu có thì kill
            pkill -f app.py || true
            
            # Chạy lại app mới dưới nền (nohup)
            nohup python app.py > app.log 2>&1 &
            
            echo "DEPLOYMENT SUCCESSFUL!"
