name: MLOps CI/CD Docker Pipeline

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
      - '.gitignore'

jobs:
  # JOB 1: Kiem tra chat luong code (CI)
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest
      - name: Train Local Model for Testing
        run: python train.py
      - name: Run Tests
        run: pytest test_pipeline.py

  # JOB 2: Duc Docker Image va day len Hub
  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
        
      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/housing-app:latest .
        
      - name: Push to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/housing-app:latest

  # JOB 3: Keo Image ve EC2 va chay (CD)
  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # 1. Xoa container cu (neu co)
            docker stop housing-app || true
            docker rm housing-app || true
            
            # 2. Xoa image cu de don rac
            docker rmi ${{ secrets.DOCKER_USERNAME }}/housing-app:latest || true
            
            # 3. Keo image moi nhat ve
            docker pull ${{ secrets.DOCKER_USERNAME }}/housing-app:latest
            
            # 4. Chay container moi (Chay ngam voi -d)
            docker run -d -p 5000:5000 --name housing-app ${{ secrets.DOCKER_USERNAME }}/housing-app:latest